body { 
	font-family: DejaVuSansCondensed, sans-serif;
}

p {
	margin-bottom: 10pt;  
	margin-top:0pt; 
}

hr {
	height: 1pt; 
	text-align: center; 
	color: #999999; 
	margin-top: 8pt; 
	margin-bottom: 8pt; 
}

#main-header {
	border-bottom: 1pt solid #CCCCCC;
	padding-bottom: 10pt;
}

#main-footer {
	border-top: 1pt solid #CCCCCC;
	padding-top: 20pt;
}

.letter-text {
	font-size: 12pt;
	line-height: 16pt;	
}

.letter-address {	
	font-weight: bold;
	margin-bottom: 20pt;
}

.letter-address p {
	margin-top:0pt; 
	margin-bottom: 0pt;  
}

.letter-intro {
	font-size: 16.5pt;
	font-weight: bold;
	padding-bottom: 20pt;
	margin-bottom: 22.5pt;
	border-bottom: 1px solid #CCCCCC;	
}

.client-signature {
margin-top: 20pt;			
overflow: auto;	
width: 300pt;
background-color: #030303;
}

.client-signature .signature-img {
border: 5pt dashed #ffa700;
}

.signature-details {
margin-top: 20pt;
font-size: 12pt;
line-height: 16pt;		
}


